.header{
    width: 100%;
    color: firebrick;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    box-sizing: border-box;
}

.logo{
    display: flex;
    align-items: center;
    width: 124px;
    img{
        width: 150%;
        display: flex;

    }
    .help-text{
        font-size: 22px;
        padding-left: 0px;
        color: #000000 ;

    }
}
.action-btn{
    display: flex;
    align-items: center;
    .icon-block{
        font-size: 20px;
        padding: 10px ;
        color:#505AC9;
    }
}